<div class="card border-0 m-4 overflow-hidden" style="width: 20rem;">
  <div class="card-body p-0 card-inner">
    <div class="animal-img">
      <img src="{{image}}" alt="">
    </div>
    <div class="animal-content px-5 py-2">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{description}}
    <p>Класс: {{title}}</p>
    </p>
    <a href="/categories/{{categoryId}}/animals/{{id}}" class="see-more link-warning">Узнать больше</a>
    </div>
  </div>
</div>