<script defer src="/js/news-page.js"></script>

<div class='card border-0 my-5 overflow-hidden' style='width: 50rem;'>
  <div class='card-body p-0 card-inner'>
    <div class='news-img'>
      <img src='{{image}}' alt='' />
    </div>
    <div class='news-content px-5 py-2'>
      <div class="card-body-inner">
      <h5 class='card-title'>{{title}}</h5>
      <p class='card-text'>{{content}}</p>
      </div>
      {{#if seeAll}} 
      <a href='/news' class='see-more link-secondary'>
        Вернуться ко всем новостям
      </a>
      {{else}}
      <a href='/news/{{id}}' class='see-more link-secondary'>
        Узнать больше
      </a>
      {{/if}}
      {{#if admin}} 
      <div class="d-flex justify-content-center">
        <button type="button" class="m-2 btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#showEditModel">
            Редактировать
        </button>
        <button type="button" class="m-2 btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#showDeleteModel">
            Удалить
        </button>
      </div>
      

<div class="modal fade" id="showDeleteModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Удаление новости</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form action="/news/{{id}}" class="m-2 d-flex flex-column align-items-center deleteAnimalForm">
            <p>Вы уверены что хотите удалить эту новость?</p>
            <button type="submit" class="btn btn-primary">Подтвердить</button>
          </form>
      </div>
    </div>
  </div>
</div>


  <div class="modal fade" id="showEditModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Редактировать новость</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/news/{{id}}" class="m-2 editNewsForm">
          <input type='hidden' name='dataType' class='form-control' value='news'>
            <div class="mb-3">
              <label class="form-label">Название</label>
              <input id="title" name="title" type="text" class="form-control" value="{{title}}">
            </div>
            <div class="mb-3">
              <label class="form-label">Cодержимое</label>
              <textarea id="content" name="content" type="file" class="form-control">{{content}}</textarea>
            </div>
            <div class="mb-3">
              <label class="form-label">Фото карточки</label>
              <input id="image" name="image" type="file" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Подтвердить</button>
        </form>
      </div>
    </div>
  </div>
</div>
      {{/if}}
    </div>
  </div>
</div>

